---

- name: Update Ubuntu
  apt:
    update_cache: yes
    upgrade: dist
  become: true

- name: Load terraform outputs
  include_vars:
    file: "{{ playbook_dir }}/roles/frontend/vars/tf_output.json"
 
- name: Install Nginx
  apt:
    name: nginx
    state: present
  become: true

- name: Ensure Nginx is started
  service:
    name: nginx
    state: started
    enabled: yes
  become: true

- name: Clone the project repository
  git:
    repo: https://github.com/techbleat/class25-26-project2.git
    dest: /home/ubuntu/class25-26-project2
  become: true

- name: Copy login.html to Nginx root
  copy:
    src: /home/ubuntu/class25-26-project2/app/templates/login.html
    dest: /var/www/html/login.html
    remote_src: yes
  become: true

- name: Copy home.html to Nginx root
  copy:
    src: /home/ubuntu/class25-26-project2/app/templates/home.html
    dest: /var/www/html/home.html
    remote_src: yes
  become: true

- name: Remove default Nginx config
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: Restart Nginx
  become: true

- name: Create Nginx config for FastAPI
  template:
    src: fast-api.j2
    dest: /etc/nginx/sites-available/fast-api
  notify: Restart Nginx
  become: true

- name: Enable FastAPI Nginx config
  file:
    src: /etc/nginx/sites-available/fast-api
    dest: /etc/nginx/sites-enabled/fast-api
    state: link
  notify: Restart Nginx
  become: true
