---
- name: Update Ubuntu
  apt:
    update_cache: yes
    upgrade: dist

- name: Read terraform output file
  ansible.builtin.include_vars:
    file: tf_output.json
    name: tf_output

- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Start Nginx
  service:
    name: nginx
    state: started

- name: Clone the project repository
  git:
    repo: https://github.com/techbleat/class25-26-project2.git
    dest: /home/ubuntu/class25-26-project2

- name: Copy login.html to Nginx root directory
  copy:
    src: /home/ubuntu/class25-26-project2/app/templates/login.html
    dest: /var/www/html/login.html
    remote_src: yes

- name: Copy home.html to Nginx root directory
  copy:
    src: /home/ubuntu/class25-26-project2/app/templates/home.html
    dest: /var/www/html/home.html
    remote_src: yes

- name: Restart Nginx
  service:
    name: nginx
    state: restarted

- name: Remove existing Nginx configuration for FastAPI
  file:
    path: /etc/nginx/sites-available/default
    state: absent

- name: Remove existing Nginx configuration for FastAPI
  file: 
    path: /etc/nginx/sites-available/default
    state: absent

- name: Create Nginx configuration for FastAPI
  template:
    src: fast-api.j2
    dest: /etc/nginx/sites-available/fast-api

- name: Enable Nginx configuration for FastAPI
  file:
    src: /etc/nginx/sites-available/fast-api
    dest: /etc/nginx/sites-enabled/fast-api
    state: link

- name: Restart Nginx
  service:
    name: nginx
    state: restarted
