---
    - name: Install required packages
      apt:
        name:
          - apt-transport-https
          - software-properties-common
          - wget
        state: present
        update_cache: yes

    - name: Add Grafana GPG key
      apt_key:
        url: https://packages.grafana.com/gpg.key
        state: present

    - name: Add Grafana repository
      apt_repository:
        repo: "deb https://packages.grafana.com/oss/deb stable main"
        state: present

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Grafana
      apt:
        name: grafana
        state: latest

    - name: Start and enable Grafana
      systemd:
        name: grafana-server
        enabled: yes
        state: started

    - name: Configure Grafana Prometheus datasource
      template:
        src: prometheus_grafana.yml.j2
        dest: /etc/grafana/provisioning/datasources/prometheus_grafana.yml
        owner: grafana
        group: grafana
        mode: '0644'
      notify: Restart Grafana
