---
- name: Clone Repo
  git:
    repo: https://github.com/techbleat/class25-26-project2.git
    dest: /home/ubuntu/class25-26-project2

- name: Change Directory
  command: chdir /home/ubuntu/class25-26-project2

- name: Install Python3.12-venv
  apt:
    name: python3.12-venv
    state: present

- name: Create Virtual Environment
  command: python3 -m venv venv

- name: Activate Virtual Environment
  shell: source venv/bin/activate

- name: Install Requirements
  pip:
    requirements: /home/ubuntu/class25-26-project2/requirements.txt

- name: Create systemd service file
    copy:
      dest: "/etc/systemd/system/{{ app_name }}.service"
      content: |
        [Unit]
        Description=FastAPI Application
        After=network.target

        [Service]
        User={{ app_user }}
        Group={{ app_user }}
        WorkingDirectory={{ app_dir }}
        ExecStart={{ venv_dir }}/bin/uvicorn main:app --host 0.0.0.0 --port {{ app_port }}
        Restart=always

        [Install]
        WantedBy=multi-user.target
      notify:
        - Reload systemd

- name: Start and enable the FastAPI service
  systemd:
    name: "{{ app_name }}.service"
    state: started
    enabled: yes

  handlers:
    - name: Reload systemd
      systemd:
        daemon_reload: yes