---

- name: Install Python venv package
  apt:
    name: python3.12-venv
    state: present
    update_cache: yes
  become: true

- name: Clone Repo
  git:
    repo: https://github.com/techbleat/class25-26-project2.git
    dest: /home/ubuntu/class25-26-project2
    version: main

- name: Create venv
  command: python3 -m venv venv
  args:
    chdir: /home/ubuntu/class25-26-project2
    creates: /home/ubuntu/class25-26-project2/venv

- name: Install requirements
  command: /home/ubuntu/class25-26-project2/venv/bin/pip install -r requirements.txt
  args:
    chdir: /home/ubuntu/class25-26-project2

- name: Create systemd service file
  copy:
    dest: "/etc/systemd/system/{{ app_name }}.service"
    content: |
      [Unit]
      Description=FastAPI Application
      After=network.target

      [Service]
      User={{ app_user }}
      Group={{ app_user }}
      WorkingDirectory={{ app_dir }}
      Environment="PATH={{ venv_dir }}/bin"
      ExecStart={{ venv_dir }}/bin/uvicorn main:app --host 0.0.0.0 --port {{ app_port }}
      Restart=always
      RestartSec=5

      [Install]
      WantedBy=multi-user.target
  notify: Reload systemd
  become: true

- name: Enable and start FastAPI service
  systemd:
    name: "{{ app_name }}"
    enabled: yes
    state: restarted
  become: true