---
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - wget
          - tar
        state: present

    - name: Create Prometheus group
      group:
        name: "{{ prometheus_group }}"
        system: yes

    - name: Create Prometheus user
      user:
        name: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
        shell: /usr/sbin/nologin
        system: yes
        create_home: no

    - name: Create required directories
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
        mode: '0755'
      loop:
        - "{{ prometheus_config_dir }}"
        - "{{ prometheus_data_dir }}"

    - name: Download Prometheus
      get_url:
        url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/{{ prometheus_tar }}.tar.gz"
        dest: "/tmp/{{ prometheus_tar }}.tar.gz"
        mode: '0644'
      register: download_prometheus

    - name: Extract Prometheus
      unarchive:
        src: "/tmp/{{ prometheus_tar }}.tar.gz"
        dest: /tmp
        remote_src: yes
      when: download_prometheus.changed

    - name: Copy Prometheus binaries
      copy:
        src: "/tmp/{{ prometheus_tar }}/{{ item }}"
        dest: "{{ prometheus_install_dir }}/{{ item }}"
        owner: root
        group: root
        mode: '0755'
        remote_src: yes
      loop:
        - prometheus
        - promtool

    - name: Copy default configuration
      copy:
        src: "/tmp/{{ prometheus_tar }}/prometheus.yml"
        dest: "{{ prometheus_config_dir }}/prometheus.yml"
        owner: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
        mode: '0644'
        remote_src: yes

    - name: Set ownership for data directory
      file:
        path: "{{ prometheus_data_dir }}"
        owner: "{{ prometheus_user }}"
        group: "{{ prometheus_group }}"
        recurse: yes

    - name: Create systemd service file
      copy:
        dest: /etc/systemd/system/prometheus.service
        mode: '0644'
        content: |
          [Unit]
          Description=Prometheus Monitoring
          Wants=network-online.target
          After=network-online.target

          [Service]
          User={{ prometheus_user }}
          Group={{ prometheus_group }}
          Type=simple
          ExecStart={{ prometheus_install_dir }}/prometheus \
            --config.file={{ prometheus_config_dir }}/prometheus.yml \
            --storage.tsdb.path={{ prometheus_data_dir }} \
            --web.listen-address="0.0.0.0:9090"

          Restart=always

          [Install]
          WantedBy=multi-user.target

    - name: Reload systemd
      systemd:
        daemon_reload: yes

    - name: Enable and start Prometheus
      systemd:
        name: prometheus
        enabled: yes
        state: started
