---
  - name: DEPLOY NGINX
    hosts: frontend
    become: true
    vars_files:
    - frontend.yml
    roles:
    - frontend

  - name: DEPLOY FAST API APPLICATION
    hosts: backend
    become: true
    vars_files:
    - backend.yml
    roles:
    - backend
    