---
  - name: DEPLOY NGINX FRONTEND APP
    hosts: frontend
    become: true
    vars_files:
    - frontend.yml
    roles:
      - frontend

  - name: DEPLOY PYTHONFAST API APPLICATION
    hosts: backend
    become: true
    vars_files:
      - backend.yml
    roles:
      - backend

  - name: DEPLOY CERTBOT LETSENCRYPT
    hosts: frontend
    become: true
    vars_files:
    - frontend.yml
    vars:
      domain_name: lennipsss.org
      certbot_email: admin@lennipsss.org
    roles:
      - certbot


