---
  - name: DEPLOY NGINX FRONTEND APP
    hosts: frontend
    become: true
    vars_files:
    - frontend.yml
    roles:
      - frontend

  - name: DEPLOY PYTHONFAST API APPLICATION
    hosts: backend
    become: true
    vars_files:
      - backend.yml
    roles:
      - backend


