---
  - name: DEPLOY NGINX
    hosts: frontend
    become: true
    vars_files:
    - frontend.yml

    tasks:
      - name: Load terraform outputs
        include_vars:
          file: "roles/frontend/vars/tf_output.json"

      - name: cat tf_output.json
        command: cat roles/frontend/vars/tf_output.json

      - name: print wrh directory
        command: pwd

    roles:
      - frontend

  - name: DEPLOY FAST API APPLICATION
    hosts: backend
    become: true
    vars_files:
      - backend.yml
    roles:
      - backend


